*{
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: pink;
	font-family: 'Lato', sans-serif;
}
.img-responsive {
    margin: 0 auto;
}

.navbar{
	background-color: #F1F1F1;
	border-bottom: none;
	margin-bottom: 0;
}
a.navbar-brand{
	font-weight: 900;
}
.navbar-right li:hover{
	background-color: #adabab;
}

.header{
	width: 100%;
	margin: auto;
	background-color: #34495E;
	text-align: center;
	border-bottom: none;
	text-align: center;
}
.header h1, .header h3{
	color: white;
}
.page-header{
	border: none;
	text-align: center;
}
/**********Second section************/
.second-section{
	background-color: #F1F1F1;
	text-align: center;
}
.second-section img{
	margin:auto;
}
.new{
	background-color: #F1F1F1;
}
.new h3{
	color: #98e2cd;
}
.new img{
	margin-left: 20%;
	margin-bottom: 50px;
}
#line{
	width: 80%;
	margin: 0 auto;
	height: 1px;
	background-color: silver;
}
/***********third section***********/
.screenshots{
	width: 100%;
	margin: auto;
	background-color: #34495E;
}
.screenshots h1{
	color: white;
	padding: 30px;
}
/************FOOTER************/
.footer{
	background-color: #2F2F2F;
	width: 100%;
	color: white;
}
.footer label, .footer input, .footer button{
	display: block;
}
.footer input{
	color: black;
}
#comentId{
	line-height: 30px;
}
.footer button{
	background-color: #5cb85b;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 10px;
}
.footer input{
	width: 80%;
	border-radius: 4px;
}
.footer label{
	padding-top: 5px;
}
.final{
	background-color: black;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}
input.hideInput{
	border: none;
	border-bottom: 1px solid #BDBCC3;
	padding: 10px;
	width: 90%;	
}
input.showInput{
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: right;
}